{% extends "admin/Admin_base.html" %}

{% load static %}

{% block content %}

 <!-- INICIO CONTENIDO -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>{{ title }}</h1> <!-- Referencia al titulo que se ingresa -->
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Panel de Control</a></li>
              <li class="breadcrumb-item"><a href="#">{{ title }}</a></li>
              
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->

     {% block maincontent %}

     {% endblock %}
    
    
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- FIN CONTENIDO -->
{% endblock%}