{% extends 'admin/listado_base.html' %}

{% load static %}

{% block columns %}
    <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Color</th>
        <th scope="col">Precio</th>
        <th scope="col">Opciones</th>
        
    </tr>
{% endblock %}

{% block rows %}
    {% for c in object_list %}
        <tr>
            <td>{{ c.name }}</td>
            <td>{{ c.color }}</td>
            <td>{{ c.pvp }}</td>
            <td>
                <button type="button" class="btn btn-warning btn-xs btn-flat">
                    <i class="fas fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs btn-flat">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </td>
        </tr>
    {% endfor %}
{% endblock %}